version: '2'

services:
  webnode:
    image: stevelasker/web-node:debug
    build:
      args:
        source: obj/Docker/empty/
    labels:
      - "com.microsot.cisualstudio.targetoperatingsyste=linux"
    environment:
      - REMOTE_DEBUGGING
    EXPOSE: 5858
    volumes:
      - .:/src
      - ~/.node/packages:/root/node/packages:ro
    entrypoint:  ["/bin/bash", "-c", "if [ -z \"$REMOTE_DEBUGGING\" ]; then nodemon -L --debug; else nodemon -L --debug-brk; fi"]
